.background {
  viewport-fill: black;
}

#time {
  font-size: 72;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: end;
  x: 98%;
  y: 31%;
  fill: #f47e1b;
}

#date {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: end;
  x: 96%;
  y: 40%;
  fill: #b6d53c;
}

#steps {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: end;
  x: 96%;
  y: 49%;
  fill: #f4cca1;
}